/** @format */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");

* {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

body {
  background-color: #8eb6cf;
}

header {
  background-color: #1770b2;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 999;
}

header h1 {
  font-size: 40px;
  align-items: center;
  color: #e9f2fc;
  margin-top: 15px;
}

.content h1 {
  color: #e9f2fc;
  font-size: 60px;
}

.content {
  height: 100vh;
  display: grid;
  place-items: center;
}

.content-about {
  height: 70vh;
  display: grid;
  place-items: center;
  color: #e9f2fc;
  font-size: 40px;
  text-align: center;
}

.content-lakes {
  display: grid;
  text-align: center;
  gap: 10px;
  margin: 0 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr 1fr 1fr 1fr;
  color: #e9f2fc;
}

.content-Contact {
  padding: 100px;
  display: grid;
  place-items: center;
  color: #e9f2fc;
  font-size: 40px;
  text-align: center;
}

.hoofd {
  grid-column: 2;
  grid-row: 2;
  font-size: 50px;
  margin-top: 50px;
}

.hoofd2 {
  grid-column: 2;
  grid-row: 3;
  margin-top: 350px;
  font-size: 50px;
}

.para1 {
  grid-area: 3 / 1 / 4 / 4;
  font-size: 30px;
}

.ol1 {
  grid-area: 4 / 2 / span 5;
  font-size: 30px;
  margin-bottom: 40px;
  text-align: left;
}

.navMoblabel span,
.navMoblabel span::before,
.navMoblabel span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 10px;
  position: relative;
}

.navMoblabel span::before,
.navMoblabel span::after {
  content: "";
  position: absolute;
}

.navMoblabel span::before {
  bottom: 7px;
}

.navMoblabel span::after {
  top: 7px;
}

.navMob {
  display: none;
}

.navMoblabel {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background-color: #1770b2;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
}

nav a {
  color: aliceblue;
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: rgba(47, 183, 204);
}

.navMob:checked ~ nav {
  transform: scale(1, 1);
}

.navMob:checked ~ nav a {
  opacity: 1;
  transition: opacity 200ms ease-in-out 250ms;
}

input {
  text-align: center;
  width: 50%;
  height: 50px;
  font-size: 20px;
}

textarea {
  font-size: 20px;
  resize: none;
  text-align: center;
}

.form1 {
  align-items: center;
}
@media screen and (min-width: 800px) {
  .navMoblabel {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  header h1 {
    grid-column: 2 / 3;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
  }

  nav a {
    font-size: 25px;
    opacity: 1;
    transition: all 0.4s ease-in-out;
  }

  nav a:hover {
    color: rgba(47, 183, 204);
  }
}
